.footer {
    padding: 1rem 0;
    background: #0B2F48;;
    padding-top: 1.5rem;
}

.footer-text {
    color: #A3B5A3;
    font-size: 15px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer-links a {
    color: #A3B5A3;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #1D8CA1;
    text-decoration: underline;
    font-size: 15px;
}

.footer-widgets {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem 0;
}