@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

#root {
  font-family: "Newsreader", serif;
  background: #ffffff;
  color: #fff;
  overflow-x: hidden;
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  color: #000;
}

/* .main {
  padding: 2.5rem 16rem;
} */